table {
  margin: 10% auto;
  border: 1px solid lightgray;
  width: 75%;
  table-layout: fixed;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid lightgray;
  text-align: left;
  padding: 8px;
}

tbody tr:nth-last-of-type(even) {
  background-color: lightgray;
}
tbody td:last-child {
  text-align: end;
}
thead td {
  text-align: center;
  font-weight: bold;
}
tfoot {
  background-color: lightgray;
}
tfoot td:last-child {
  text-align: end;
}
